div#FlashCardContainer {
    height: 50vh;
    min-height: 500px;
    aspect-ratio: 0.71;
    margin-bottom: 25px;
    cursor: pointer;
}

div#FlashCardContainer .CardHint {
    font-size: 15px;
    color: gray;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

div#FlashCardContainer>div.CardContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    perspective: 1000px;
}

div#FlashCardContainer>div.CardContainer>.Card>.Card-face {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: white;
    border-radius: 50px;
    padding: 20px;
    overflow-y: auto;
}

div#FlashCardContainer>div.CardContainer>.Card>.Card-face::-webkit-scrollbar {
    display: none;
}

div#FlashCardContainer>div.CardContainer>.Card>.Card-face img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

div#PageActionDiv {
    width: 25vw;
    display: flex;
    justify-content: space-between;
}

div#PageActionDiv>button.ActionBtn {
    min-height: 50px;
    min-width: 100px;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s;
}

div#PageActionDiv>button.ActionBtn:hover {
    transform: scale(105%);
}

div#PageActionDiv>button#PrevBtn.ActionBtn {
    margin-right: auto;
}

div#PageActionDiv>button#NextBtn.ActionBtn {
    margin-left: auto;
}

div#ActionDiv {
    width: 75vw;
    display: flex;
    justify-content: space-between;
    margin: 25px;
    padding-bottom: 50px;
}

div#ActionDiv>button.ActionBtn {
    min-height: 50px;
    min-width: 100px;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s;
}

div#ActionDiv>button.ActionBtn:hover {
    transform: scale(105%);
}

div#ActionDiv>button#MainPageBtn.ActionBtn {
    background-color: red;
    color: white;
    font-weight: bold;
}

div#ActionDiv>button#LvlSelectionBtn.ActionBtn {
    background-color: orange;
    color: black;
    font-weight: bold;
}

div#ActionDiv>button#LearningNoteBtn.ActionBtn {
    background-color: aqua;
    color: black;
    font-weight: bold;
}

div#ActionDiv>button#PlayBtn.ActionBtn {
    background-color: lime;
    color: black;
    font-weight: bold;
}