body {
    background-image: url("../../Assets/Images/road-safety-rules-for-kids.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div#FlashCardContainer {
    height: 50vh;
    aspect-ratio: 0.71;
    margin-bottom: 25px;
}

    div#FlashCardContainer > div.CardContainer {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        perspective: 1000px;
    }

        div#FlashCardContainer > div.CardContainer > .Card > .Card-face {
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            background-color: white;
            border-radius: 50px;
            padding: 20px;
        }

div#PageActionDiv {
    width: 25vw;
    display: flex;
    justify-content: space-between;
}

    div#PageActionDiv > button.ActionBtn {
        min-height: 50px;
        min-width: 100px;
        border-radius: 25px;
        cursor: pointer;
        transition: transform 0.3s;
    }

        div#PageActionDiv > button.ActionBtn:hover {
            transform: scale(105%);
        }

        div#PageActionDiv > button#PrevBtn.ActionBtn {
            margin-right: auto;
        }

        div#PageActionDiv > button#NextBtn.ActionBtn {
            margin-left: auto;
        }
