#ContentCard {
    width: 50vw;
    min-height: 50vh;
    background-color: #ffffffdd;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    #ContentCard > .ResultText {
        text-align: center;
    }

    #ContentCard > .ResultMark {
        text-align: center;
        font-weight: bold;
    }

    #ContentCard > .ResultComment {
        text-align: center;
    }

    #ContentCard > .ResultTimeTaken {
        text-align: center;
    }

    #ContentCard > .ActionBtn {
        height: 50px;
        width: 100px;
        border-radius: 25px;
        cursor: pointer;
        transition: transform 0.3s;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

        #ContentCard > .ActionBtn:hover {
            transform: scale(105%);
        }

        #ContentCard > .DownloadBtn {
            background-color: rgb(0, 89, 255);
            color: white;
        }

        #ContentCard > .ShareBtn {
            background-color: lime;
        }

        #ContentCard > .LvlSelectionBtn {
            background-color: aqua;
        }

        #ContentCard > .HistoryBtn {
            background-color: orange;
        }