body {
    background-color: aqua;
}

.titleCard {
    width: 300px;
}

#ContentLayer {
    justify-content: flex-start;
    min-height: 100vh;
}

div#ContentDiv {
    justify-content: space-between;
    min-height: 75vh;
    width: 30%;
}

div#QuestionDiv {
    width: 100%;
    min-height: 35vh;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    padding: 25px;
}

    div#QuestionDiv > .QuestionNum {
        margin: auto;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
    }

div#AnswerDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 10px;
}

    div#AnswerDiv > button.AnswerBtn {
        min-height: 50px;
        width: 100%;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
    }

div#ActionDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

    div#ActionDiv > button.ActionBtn {
        min-height: 50px;
        min-width: 100px;
        border-radius: 25px;
        cursor: pointer;
    }

        div#ActionDiv > button#PrevBtn.ActionBtn {
            margin-right: auto;
        }

        div#ActionDiv > button#NextBtn.ActionBtn {
            margin-left: auto;
        }