body {
    background-image: url("../../Assets/Images/road-safety-rules-for-kids.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titleCard {
    width: 300px;
}

#ContentLayer {
    justify-content: flex-start;
    min-height: 100vh;
    width: 100vw;
}

#PopupLayer {
    min-height: 100vh;
    width: 100vw;
    background-color: #ffffffaa;
    position: fixed;
    left: 0;
    top: 0;
}

    #PopupLayer > div#PopupDiv {
        width: 50vw;
        height: 50vh;
        background-color: white;
        border: 1px solid black;
        border-radius: 25px;
        padding: 50px;
    }

div#ContentDiv {
    justify-content: space-between;
    min-height: 75vh;
    width: 500px;
}

div#QuestionDiv {
    width: 100%;
    min-height: 25vh;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    padding: 25px;
    overflow-y: auto;
}

    div#QuestionDiv::-webkit-scrollbar {
        display: none;
    }

    div#QuestionDiv > #QuestionNum {
        margin: auto;
        text-align: center;
        font-weight: bold;
        margin-bottom: 0;
    }

    div#QuestionDiv > #QuizMark {
        margin-left: auto;
        margin-top: 0;
        margin-bottom: 0;
        text-align: right;
    }

    div#QuestionDiv > #ActualQuestionDiv {
        margin: auto;
        width: 80%;
    }

        div#QuestionDiv > #ActualQuestionDiv img {
            display: block;
            margin: auto;
            width: 100%;
            height: auto;
        }

div#AnswerDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

    div#AnswerDiv > button.AnswerBtn {
        min-height: 50px;
        width: 100%;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.3s;
    }

        div#AnswerDiv > button.AnswerBtn:hover {
            transform: scale(105%);
        }

        div#AnswerDiv > button.AnswerBtn.Selected {
            background-color: red;
            color: white;
            font-weight: bold;
        }

            div#AnswerDiv > button.AnswerBtn.Selected.Correct {
                background-color: lime;
                color: black;
            }

div#PageActionDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

    div#PageActionDiv > button.ActionBtn {
        min-height: 50px;
        min-width: 100px;
        border-radius: 25px;
        cursor: pointer;
        transition: transform 0.3s;
    }

        div#PageActionDiv > button.ActionBtn:hover {
            transform: scale(105%);
        }

        div#PageActionDiv > button#PrevBtn.ActionBtn {
            margin-right: auto;
        }

        div#PageActionDiv > button#NextBtn.ActionBtn {
            margin-left: auto;
        }

div#ActionDiv {
    width: 75vw;
    display: flex;
    justify-content: space-between;
    margin: 25px;
    padding-bottom: 50px;
}

    div#ActionDiv > button.ActionBtn {
        min-height: 50px;
        min-width: 100px;
        border-radius: 25px;
        cursor: pointer;
        transition: transform 0.3s;
    }

        div#ActionDiv > button.ActionBtn:hover {
            transform: scale(105%);
        }

        div#ActionDiv > button#BackBtn.ActionBtn {
            background-color: red;
            color: white;
            font-weight: bold;
        }

        div#ActionDiv > button#SubmitBtn.ActionBtn {
            background-color: lime;
            color: black;
            font-weight: bold;
        }