#ContentCard {
    width: 50vw;
    height: 50vh;
    background-color: #ffffffdd;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    #ContentCard > .ResultText {
        text-align: center;
    }

    #ContentCard > .ResultMark {
        text-align: center;
        font-weight: bold;
    }

    #ContentCard > .ResultComment {
        text-align: center;
    }