body {
    background-image: url("../../Assets/Images/road-safety-rules-for-kids.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titleCard {
    width: 600px;
}

.actionCard {
    width: 375px;
    min-height: 275px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
    justify-content: space-evenly;
    background-color: white;
}

    .actionCard > button {
        width: 80%;
        height: 50px;
        border-radius: 10px;
        padding: 5px;
        font-size: large;
        font-weight: bolder;
        cursor: pointer;
        transition: transform 0.3s;
    }

        .actionCard > button#LearnBtn {
            background-color: yellow;
            color: black;
        }

        .actionCard > button#PlayBtn {
            background-color: #4daf4d;
            color: white;
        }

        .actionCard > button#HelpBtn {
            background-color: #2196f3;
            color: white;
        }

        .actionCard > button:hover {
            transform: scale(105%);
        }