body {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fin.pinterest.com%2Fpin%2Froad-safety-for-kids--8444318045772603%2F&psig=AOvVaw3UqgyB4EzOWQ69ZwXeRGP-&ust=1761896893450000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCIC4ksa3y5ADFQAAAAAdAAAAABAE");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titleCard {
    width: 600px;
}

.actionCard {
    width: 375px;
    min-height: 275px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
    justify-content: space-evenly;
    background-color: white;
}

    .actionCard > button {
        width: 80%;
        height: 50px;
        border-radius: 10px;
        padding: 5px;
        font-size: large;
        font-weight: bolder;
        cursor: pointer;
        transition: transform 0.3s;
    }

        .actionCard > button#PlayBtn {
            background-color: #4daf4d;
            color: white;
        }

        .actionCard > button#SettingsBtn {
            background-color: #ff9700;
            color: white;
        }

        .actionCard > button#HelpBtn {
            background-color: #2196f3;
            color: white;
        }

        .actionCard > button#ExitBtn {
            background-color: #f44236;
            color: white;
        }

        .actionCard > button:hover {
            transform: scale(105%);
        }