<!DOCTYPE html>
<html>
    <head>
        <title>Learning Flash Card</title>
        <link rel="stylesheet" href="../Utils/CSS/Shared.css" />
        <link rel="stylesheet" href="../Utils/CSS/Card.css" />
        <link rel="stylesheet" href="../Utils/CSS/LearningFlashCard.css" />
        <link rel="stylesheet" href="../Utils/CSS/NavButton.css" />
    </head>
    <body class="centerItems">
        <h1 class="titleCard">LEARNING FLASH CARD</h1>
        <div id="FlashCardContainer"></div>
        <div id="PageActionDiv">
            <button id="PrevBtn" class="ActionBtn Hidden">Prev</button>
            <button id="NextBtn" class="ActionBtn Hidden">Next</button>
        </div>
        <div id="ActionDiv">
            <button id="MainPageBtn" class="ActionBtn">Mainpage</button>
            <button id="LvlSelectionBtn" class="ActionBtn">Level Selection</button>
            <button id="LearningNoteBtn" class="ActionBtn Hidden">Note</button>
            <button id="PlayBtn" class="ActionBtn">Play</button>
        </div>
        <script>
            const isAuthed = {{ isAuthed_flask | tojson }};
            const authError = {{ authError_flask | tojson }};
            const userID = {{ userID_flask | tojson }};
            const userRole = {{ userRole_flask | tojson }};
        </script>
        <script src="../Utils/JS/Shared.js"></script>
        <script src="../Utils/JS/NavButton.js"></script>
        <script src="https://unpkg.com/showdown@2.1.0/dist/showdown.min.js"></script>
        <script type="module" src="../Utils/JS/LearningFlashCard.js"></script>
    </body>
</html>