<!DOCTYPE html>
<html>
    <head>
        <title>Level selection</title>
        <link rel="stylesheet" href="../Utils/CSS/Shared.css">
        <link rel="stylesheet" href="../Utils/CSS/LevelSelection.css">
    </head>
    <body class="centerItems">
        <h1 class="titleCard">SELECT LEVEL</h1>
        <div id="LevelSelectionContainer"></div>
        <div id="ActionDiv">
            <button id="BackBtn">Back</button>
        </div>
        <script>
            const isAuthed = {{ isAuthed_flask | tojson }};
            const authError = {{ authError_flask | tojson }};
            const userID = {{ userID_flask | tojson }};
            const userRole = {{ userRole_flask | tojson }};
        </script>
        <script src="../Utils/JS/Shared.js"></script>
        <script type="module" src="../Utils/JS/LevelSelection.js"></script>
    </body>
</html>