<!DOCTYPE html>
<html>
    <head>
        <title>Level Quiz Result</title>
        <link rel="stylesheet" href="../Utils/CSS/Shared.css" />
        <link rel="stylesheet" href="../Utils/CSS/LevelQuizResult.css" />
        <link rel="stylesheet" href="../Utils/CSS/NavButton.css" />
    </head>
    <body class="centerItems">
        <h1 class="titleCard">RESULT</h1>
        <div id="ContentCard"></div>
        <script>
            const isAuthed = {{ isAuthed_flask | tojson }};
            const authError = {{ authError_flask | tojson }};
            const userID = {{ userID_flask | tojson }};
            const userRole = {{ userRole_flask | tojson }};
        </script>
        <script src="../Utils/JS/Shared.js"></script>
        <script src="../Utils/JS/NavButton.js"></script>
        <script src="https://unpkg.com/showdown@2.1.0/dist/showdown.min.js"></script>
        <script type="module" src="../Utils/JS/LevelQuizResult.js"></script>
    </body>
</html>